<% include partials/header %>

<div class="container landing-page">
  <h1>Fancy Camp</h1>
  <p>best campgrounds you want to visit. <a href="/campgrounds">View All</a></p>
</div>

<% include partials/footer %>