<% include partials/header %>

<div class="container landing-page">
  <h1 class="landing-page--header">Fancy Camp</h1>
  <p>Once-in-a-lifetime camping experience <a href="/campgrounds">View All   <i class="far fa-hand-point-right"></i></a></p>
</div>

<% include partials/footer %>