<% include ./partials/header %> 

<div class="container">
  <h1>Login</h1>
	<form action="/login" method="POST">
		<label for="username">Username</label>
		<input type="text" name="username" placeholder="username" id="username">
		<label for="password">Password</label>
		<input type="password" name="password" placeholder="password" id="password">
		<input type="submit" value="Login" class="btn btn-info">
	</form>
</div>

<% include ./partials/footer %> 
