:root {
  --background-light-grey: #bbb;
}

.thumbnail {
  padding: 0;
}

.thumbnail .img-responsive {
  margin: 0;
  padding: 0;
  width: 100%;
}

#delete-form {
  display: inline;
}

.landing-page {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-footer {
  background: var(--background-light-grey);
  height: 80px;
}

.page-footer::before {
  content: '';
  display: block;
  height: 40%;
}
