:root {
  --background-light-grey: #bbb;
}

.thumbnail {
  padding: 0;
}

.thumbnail .img-responsive {
  margin: 0;
  padding: 0;
  width: 100%;
}

#delete-form {
  display: inline;
}

.landing-page {
  min-height: 90vh;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3)), url('../img/ihor-malytskyi-567429-unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.page-footer {
  background: var(--background-light-grey);
  height: 80px;
}

.page-footer::before {
  content: '';
  display: block;
  height: 40%;
}
